@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}
/*<!--Contenedor header -->*/
.contenedor-header{
    background: #1e265e;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a{
    /* display: inline; */
    font-family: 'Righteous';
    font-size: 16px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    /* display: flex;  Convertir el contenedor en un flexbox  */
    align-items: center; /* Centrar verticalmente los elementos dentro del flexbox */
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
    font-size: 12px;
    margin: 0 10px;
    padding: 2px;
}
.contenedor-header header nav ul li a{
    text-align: left;
    color: #fff;
    margin: 0 10px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover{
    color:#f5ed54;
}

.conteiner{
    max-width: 1440px;
    padding: 20px;
    /* text-align: center; */
    margin: 0 auto; 
}

p{
    text-align: center;
}


.nav-responsive{
    background-color: #0078d4;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/*<!--Contenedor header -->*/

/*<!--Submenu-->*//* Estilo para el menú principal */
.menu {
    list-style-type: none;
    padding: 0;
}

.menu > li {
    position: relative;
    display: inline-block;
}

.menu > li > a {
    display: block;
    padding: 15px 20px;
    color: #0078d4;
    text-decoration: none;
}

.menu li a:hover {
    color: #0078d4;
    transition: all .3s;
}

/* Estilo para los submenús */
.submenu {
    position: absolute;
    top: 100%; /* Aparece debajo del elemento padre */
    left: 0;
    background: #0078d4;
    padding: 30px;
    width: 150px; /* Ancho del submenú */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.submenu li {
    display: block;
}

.submenu li a {
    display: block;
    padding: 30px;
    color: #fff;
    text-decoration: none;
}

/* Mostrar el submenú al pasar el ratón sobre el elemento padre */
.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.menu li:hover .texto{
    text-align: center ;
}

/* Estilo para los submenús internos */

.submenu.active {
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .menu > li {
        display: block;
    }
    .submenu :active {
        background-color:#0078d4;
        padding: 10px;
        width: 200px; /* Ancho del submenú interno */
        position: absolute;
        top: 0;
        left: 100%; /* Aparece a la derecha del elemento padre */
        visibility: hidden;
        opacity: 5;
        transition: 0.5s;
    }

    .submenu {
        position: static;
        width: 200px;
        width: auto;
        visibility: visible;
        opacity: 1;
        padding: 0;
    }

    .submenu li {
        display: block;
        border-bottom: 1px solid #fff;
    }

    .submenu li:last-child {
        border-bottom: none;
    }
}

.titulo {
    text-align: center;
}

.texto {
    text-align: center;
}

/*<!--Submenu-->*/

/*<!--Submenu-->*/


/* SECCION I N I C I O */


.Inicio{
    display: flex;
    background: rgb(16,80,207);
    background: radial-gradient(circle, rgba(16,80,207,1) 20%, rgba(5,151,231,1) 65%);
    background-size: cover;
    height: 90vh;
    color: #fff;
    padding-top: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    /* max-width: 1024px; */
    right: 0;

}
.search-input {
  padding: 10px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde */
  border-radius: 5px; /* Bordes redondeados */
  width: 300px; /* Ancho del input */
  font-size: 16px; /* Tamaño de fuente */
}

/* Estilo cuando el input está enfocado */
.search-input:focus {
  outline: none; /* Quita el contorno predeterminado */
  border-color: #007bff; /* Cambia el color del borde cuando está enfocado */
}

/* Estilo cuando se coloca el cursor sobre el input */
.search-input:hover {
  border-color: #999; /* Cambia el color del borde al pasar el cursor sobre él */
}

/* Estilo para el placeholder del input */
.search-input::placeholder {
  color: #999; /* Color del placeholder */
}

.bodys{

    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: #1c4fb6; */
    margin: 0 auto;
}
.barra_lateral{
    /* display: flex; */
    width: 200px;

    /* align-items: list; */
    /* justr */
    /* margin: 0 auto; */
    height: 100%;
    background-color: #00000044;
    margin: 0 auto;
}
.botton{
    /* width: 40px; */
    /* background-color: #067cdd; */
    display: flex;
    /* width: 150px; */
    /* width: 100%; */
    /* height: 100%; */
    /* background-color: #000000; */
    margin: 0 auto;
}
.primario{
    border: 1px solid rgb(2, 2, 2);
    border-radius: 10px;
    height: 25px;
    width: 150px;
    /* width: 100%; */
    /* margin-top: 20px; */
    margin: 20px auto 0;  

    /* background-color: #2c2c2c;
    border-radius: 10px; */
    /* border:21px, black, block; */



}
.notificaciones{
    /* display: flex; */
    width: 100%;
    height: 100%;
    /* background-color: #7efef7; */
    margin: 0 auto;
}

#fechaImput{
    padding: 10px;
    font-size:16px;
}

#fechaInput {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #000;
    width: 200px; /* Ancho del campo de entrada */
    margin: 10px auto; /* Margen para centrar el campo */
  }
  
  /* Estilos para el contenedor del calendario */
  .ui-datepicker {
    font-family: 'Work Sans', sans-serif;
    position: absolute;
    border-radius: 30px;
    margin: 10px 0 0 5px;
    background-color: #fff;
    border: 1.5px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999; /* Asegura que el calendario aparezca por encima de otros elementos */
  }
  
  /* Estilos para los días de la semana */
  .ui-datepicker-header {
    justify-content: space-between;
    background-color: #1e265e;
    color: #fff;
    display: flex;
    /* text-align: center; */
  }
  
  .ui-datepicker-calendar td {
    padding: 0 5px;
  }
  
  /* Estilos para los días */
  .ui-datepicker-calendar .ui-state-default {
    color: #000;
    background-color: #f0f0f0;
    border-radius: 50%; /* Hace que los días sean círculos */
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  
  /* Estilos para los días seleccionados */
  .ui-datepicker-calendar .ui-state-active,
  .ui-datepicker-calendar .ui-state-hover {
    background-color: #1e265e;
    color: #fff;
  }
  
  /* Estilos para los botones de navegación */
  .ui-datepicker-prev,
  .ui-datepicker-next {
    cursor: pointer;
    background-color: #1e265e;
    color: #fff;
    /* margin */
    height: 20px;
    border:solid black 1px;
    padding: 10px 10px;
  }
  
  /* Estilos para el título del calendario */
  .ui-datepicker-title {
    font-weight: bold;
    margin: 10px;
    text-align: center;
  }
  
  /* Estilos para los nombres de los meses */
  .ui-datepicker-month {
    font-weight: bold;
  }
  
  /* Estilos para los años en el selector de años */
  .ui-datepicker-year {
    font-weight: bold;
  } bb   
.Inicio2{
    background: rgb(16,80,207);
    background: radial-gradient(circle, rgba(16,80,207,1) 20%, rgba(5,151,231,1) 65%);
    background-size: cover;
    height: 70vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Productos{
    background: rgb(16,80,207);
    background: radial-gradient(circle, rgba(16,80,207,1) 20%, rgba(5,151,231,1) 65%);
    color: #fff;
    padding: 50px 20px;
}

.Mas{
    background: rgb(16,80,207);
    background: radial-gradient(rgba(16,80,207,1) 20%, rgba(5,151,231,1) 65%);
    color: #fff;
    padding: 50px 20px;
}


/* SECCION I N I C I O */


/* Estilos para el contenedor centrado */
.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura a la ventana del navegador */
}
.contenedor-carrusel {
    overflow: hidden; /* Para ocultar cualquier contenido que se desborde */
    max-width: 800px; /* Ancho máximo del carrusel */
    margin: auto; /* Centra horizontalmente */
}

.slider {
    overflow: hidden;
    border-radius: 10px;
    border: none;
}

.slider ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 600%; /* Ancho total para contener todas las imágenes */
    animation: slide 15s infinite linear;
}

.slider ul li {
    width: 16.66%; /* Tamaño de cada imagen en el carrusel */
    float: left;
}

.slider ul li img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ajusta la imagen para cubrir el tamaño del contenedor */
}

@keyframes slide {
    0% { margin-left: 0; }
    33.33% { margin-left: 0; }
    66.66% { margin-left: -100%; }
    100% { margin-left: -100%; }
}
/* Estilos para el contenedor centrado */

/*Texto H5*/
.texto {
    text-align: center; /* Alinea el texto al centro */
    max-width: 800px; /* Ancho máximo del texto */
    padding: 0 20px; /* Añade un poco de espacio a los lados */
}
/*Texto H5*/




















/*Footer*/
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 25px 0 15px 0;
    text-align: center;
    position: relative;
    max-height: max-content;
    width: 100%;
}
footer .redes{

    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1c4fb6; 
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
/*Footer*/

@media screen and (max-width: 768px) {
    .nav-responsive {
        display: block;
    }

    #nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0; /* Alinear con el borde derecho de la pantalla */
        width: 30%; /* Limitar el ancho del menú desplegable */
        max-width: 300px; /* Establecer un ancho máximo */
        background-color:  #0078d4;
        text-align: center;
        padding: -10px, 0px ;
    }

    #nav ul.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #nav ul ul {
        display: none;
        background-color: #0078d4;
        padding: 10px 0;
    }

    #nav ul ul.active {
        display: block;
        position: static;
        width: 100%;
    }

    #nav ul li {
        margin: 10px 0;
        list-style: none;
        position: relative;
    }

    #nav ul li:hover > ul {
        display: block;
        position: static;
        width: 100%;
    }

    .nav-responsive i {
        cursor: pointer;
    }
}


.Inicio1{
    background: rgb(16,80,207);
    background: radial-gradient(circle, rgba(16,80,207,1) 20%, rgba(5,151,231,1) 65%);
    background-size: cover;
    height: 80vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Estilo para el formulario de inicio de sesión */
.Inicio .container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /*margin-top: 180px;  Ajusta el margen superior según sea necesario */
    max-width: 400px; /* Ajusta según necesites */
    margin-left: auto;
    margin-right: auto;
}

.Inicio h2 {
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.Inicio input[type="text"],
.Inicio input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Inicio input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #0078d4; /* Cambia el color de fondo según necesites */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Inicio input[type="submit"]:hover {
    background-color: #005ea2; /* Cambia el color de fondo al pasar el cursor */
}


.Registro{
    background: rgb(16,80,207);
    background: radial-gradient(circle, rgba(16,80,207,1) 20%, rgba(5,151,231,1) 65%);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contacto{
    background: rgb(16,80,207);
    background: radial-gradient(circle, rgba(16,80,207,1) 20%, rgba(5,151,231,1) 65%);
    color: #fff;
    padding-top: 50px;
    padding: 50px 0;
    max-height: 1300px;
}

/* Contenido general */
.contenido-seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Alinea el texto al centro */
    
}

/* Estilo del título */
.contacto h2{
    font-size: 48px;
    font-family: 'Righteous';
    padding: 20px 0;
}

/* Estilo de las columnas */
.contacto .fila{
    display: flex;
    justify-content: center; /* Centra las columnas horizontalmente */
    width: 100%;
}

.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
    text-align: center; /* Alinea el contenido de la columna al centro */
}

/* Estilo de los campos de entrada y textarea */
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}

/* Estilo del botón */
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

/* Estilo de la superposición */
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color:#1c4fb6; 
    z-index: -1;
    transition: 1s;
}

/* Efecto de superposición al pasar el mouse */
.contacto button:hover .overlay{
    width: 100%;
}

/* Estilo de la información */
.contacto .col .info{
    position: absolute;
    top: 50%; /* Posiciona la información en el centro vertical */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #067cdd;
    padding: 20px;
    max-width: 350px;
}

/* Estilo de la lista de información */
.contacto .col .info ul{
    list-style: none;
    padding: 0;
}

/* Estilo de los elementos de la lista de información */
.contacto .col .info ul li{
    margin-bottom: 20px;
}

/* Estilo de los iconos en la lista de información */
.contacto .col .info ul li i{
    color: #1c4fb6; 
    margin-right: 20px;
}


/* Estilo para el formulario de registro */
.Registro .container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /*margin-top: 100px;  Ajusta el margen superior según sea necesario */
    max-width: 400px; /* Ajusta según necesites */
    margin-left: auto;
    margin-right: auto;
}

.Registro h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.Registro input[type="text"],
.Registro input[type="email"],
.Registro input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Registro input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #0078d4; /* Cambia el color de fondo según necesites */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Registro input[type="submit"]:hover {
    background-color: #005ea2; /* Cambia el color de fondo al pasar el cursor */
}



/* Estilos para la versión móvil */
@media screen and (max-width: 768px) {
    .productos {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}


.frame {
    display: inline-block;
    border: 5px solid #fff;
    padding: 10px;
}
